body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

header,
footer {
  text-align: center;
}

#caixa {
  width: 300px;
  height: 100px;
  margin: 20px 0;
  background-color: lightblue;
}

#contador {
  font-size: 40px;
}
